{% macro footer() %}

<footer>

    <div style ="background: #E0CAA0; font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    "    class="p-32 text-xl text-white  grid grid-cols-3  grid-rows-1 gap-x-2 gap-y-4">
        <div class ="col-span-1">
            <div class="span-col-1 pb-4 pt-12 span-row-1 flex justify-center  underline">Support Us </div>
            <hr>
            <div class ="span-col-1 pt-12 span-row-2 flex justify-center "><button style =" color:black;background: #D78928;"                class=" bg-gray-800 rounded-lg shadow-xl p-2  ">Donate</button> </div>
        </div>  
    
        <div class ="col-span-1">
            <div class="span-col-2 flex justify-center pb-4 pt-12 span-row-1 underline">Quick Links </div>
            <hr>
            <div class ="span-col-2 flex justify-center pt-12 span-row-2"> <a href="/about">About</a> </div>
            <div class ="span-col-2 flex justify-center pt-12 span-row-2"> <a href="/season">This Season</a> </div>
            <div class ="span-col-2 flex justify-center pt-12 span-row-2"><a href="/contact">Contact</a></div>
            
        </div>  
    
        <div class ="col-span-1">
            <div class="span-col-3 flex justify-center pb-4 pt-12 underline span-row-1">Email </div>
            <hr>
            <div class ="span-col-3 flex justify-center pt-12 span-row-2"> Mail@southhadleychorale.org </div>
        </div>
    
    </div>
</footer>

{% endmacro %}