{% extends "base.html" %}

{% block content %}

<div class="container mx-auto pt-10">
    <div class="grid grid-cols-2">
      <img src="https://via.placeholder.com/777x524" alt="">
      <div class="flex flex-row justify-center items-center p-4 ">
        <div class="grid grid-cols-1">
          <div class="flex flex-row justify-left items-center p-4 text-4xl">Our History</div>
          <div class="flex flex-row justify-left items-center p-4 w-3/5">The South Hadley Chorale was founded in 1984
            as the South Hadley Community Chorus to celebrate Bach's 300th anniversary. Under the direction of the
            founder, Dr. Barbara Conant, Bach's Mass in B minor was performed in the inaugural year. we now reheare
            each year in October and, in March, perform with orchestra and soloists a concert consisting of one or
            more classical masterworks. Our members are drawn from South Hadly, Massachusetts and surrounding Pioneer
            Valley communities.</div>
        </div>
      </div>
    </div>

  </div>



  <div class="bg-slate-100">
      <div class="container mx-auto pt-10">
    <div class="grid grid-cols-2 ">

      <div><img src="https://via.placeholder.com/572x572" alt=""></div>
      <div><img src="https://via.placeholder.com/572x572" alt=""></div>
      <div class="flex flex-col">
        <h2 class="text-xl">Heading</h2>
        <p>slfdsjf lsjdfljsdlfj sldjflsdjfl slsjdfljsdlfj sdflsdljf</p>
      </div>
      <div class="flex flex-col">
        <h2 class="text-xl">Heading</h2>
        <p>slfdsjf lsjdfljsdlfj sldjflsdjfl slsjdfljsdlfj sdflsdljf</p>
      </div>


    </div>




  </div>
  </div>

{% endblock content %}