{% extends "base.html" %}

{% block content %}

<div class="bg-gray-000 grid grid-cols-3  grid-rows-3">
    <div class ="col-span-3  flex justify-center">
        <p class="p-32">image</p>
    </div>
</div>





<div class="bg-gray-800 grid grid-cols-3 grid-rows-2 gap-x-2 gap-y-4">
<div class ="col-span-1">
    <p class="span-col-1 p-32 text-5xl"><strong>Rehearsals for the 2022-2023 program year will start on Wednesday, October 12, 2022 at 7 P.M. at All-Saints Episcopal Church, 7 Woodbridge St, South Hadley with Alexandra Ludwig, our outstanding Music Director who is returning for her 5th year. Michael Rheault will also be returning as our accompanist.

      Our dues for the 2022-2023 season are $75.00 which includes the cost of music.
      
      You must bring proof of vaccination including the booster shot (unless not yet eligible-less than 6 months since 2nd shot). Masks must be worn at all times during rehearsal.</strong></p>
  </div>
  <div class="col-span-1 row-span-q">
    <a class = "span-col-2  span-row-2 bg-gray-800 flex justify-end text-8xl"> Practice Files </a>
</div>
</div>



<div class="bg-gray-300 grid grid-cols-3  grid-rows-2">
<div class ="col-span-3  flex justify-center">
    <p class="p-32"></p>
</div>
</div>

<div class="bg-gray-800 grid grid-cols-3 min-h-[300px] grid-rows-1 gap-x-2 gap-y-4">
<div class ="col-span-3 row-span-2">
</div>
</div>

{% endblock content %}