{% extends "base.html" %}

{% block content %}

<div>

<img src="https://th.bing.com/th/id/OIP.5lVmwfl3y5Qyi91XdhH95gAAAA?w=243&h=162&c=7&r=0&o=5&dpr=1.1&pid=1.7" alt="" width ="100%" height = "1600">
<div>
<div style = "background: #E0CAA0; height:830.98px; " class=" mx-auto pt-10">
    <div class="grid grid-cols-2">
      <img  class = "p-16" src="https://via.placeholder.com/777x524" alt="">
      <div class="flex flex-row justify-center items-center p-4 ">
        <div class="grid grid-cols-1">
          <div class="flex flex-row justify-left items-center p-4 text-4xl " style ="font-family: Kaisei Opti;
          font-size: 96px;
          font-weight: 400;
          line-height: 139px;
          letter-spacing: 0em;
          text-align: left;
          ">Our History</div>
          <div style="font-family: Kaisei Opti;
          font-size: 20px;
          font-weight: 400;
          line-height: 29px;
          letter-spacing: 0em;
          text-align: left;
          " class="flex flex-row justify-left items-center p-4 w-3/5">The South Hadley Chorale was founded in 1984
            as the South Hadley Community Chorus to celebrate Bach's 300th anniversary. Under the direction of the
            founder, Dr. Barbara Conant, Bach's Mass in B minor was performed in the inaugural year. we now reheare
            each year in October and, in March, perform with orchestra and soloists a concert consisting of one or
            more classical masterworks. Our members are drawn from South Hadly, Massachusetts and surrounding Pioneer
            Valley communities.</div>
        </div>
      </div>
    </div>

  </div>



  <div  style ="background: #251E15; height:1869px;"  class="">
    <h1 class ="text-3xl text-white"> Board of Directors </h1>
      <div class="container mx-auto pt-10">
    <div class="grid grid-cols-2 ">

      <div class = "pt-10 p-16"><img src="https://th.bing.com/th/id/OIP.enMA8pWTA7_knhRtaFkL6QHaHj?w=142&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7" alt="" height = "658.95" width = "1597"></div>
      <div style="background: #E7DECF;" class="flex flex-col">
        <h1 class=" flex justify-center text-5xl ">Accompianist</h1>
        <p></p>
      </div>

      <div style = "width:605.13px; height:814.3px; background: #E7DECF;"      class="flex p-2 flex-col relative">
        <h2 class=" flex justify-center text-5xl">Conductor</h2>
        <p style = "font-family: Kaisei Opti;
        font-size: 24px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;"
        class ="p-4 text-">Alexandra Ludwig maintains an active life as a conductor, professor, and performer. In addition to leading the South Hadley Chorale, she is an Associate Professor of Music and the chair of the Visual and Performing Arts department at Springfield College. Her position has included not only teaching, but also accompanying for the dance department and conducting the Springfield College Community Chorus. Other musical paths include playing in an old-time band on both accordion and bass, singing with countless groups including past membership in Illuminati Vocal Arts Ensemble and Novi Cantori, and collaborating with dancer Sarah Zehnder of ZehnderDance.org as a composer.</p>     </div>
      <div class = "pt-10 p-16"><img src="https://th.bing.com/th/id/OIP.enMA8pWTA7_knhRtaFkL6QHaHj?w=142&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7" alt="" height = "605.16" width = "572"></div>
        <div>
          <a 
        </div>


    </div>




  </div>
  </div>

{% endblock content %}