{% extends "base.html" %}

{% block content %}

<section>
<div>
    <img style = "width:100%;" src="https://th.bing.com/th/id/OIP.Yq7LXBcL18Rc1d2XU0TqqAHaC0?w=317&h=133&c=7&r=0&o=5&dpr=1.1&pid=1.7" alt="">
</div>


<div style ="background: #251E15;" class=" grid grid-cols-3 grid-rows-2 gap-x-2 gap-y-4">
<div class ="col-span-3">
    <p style ="color: #E0CAA0; font-family: Kaisei Opti;
    font-size: 64px;
    font-weight: 400;
    line-height: 93px;
    letter-spacing: 0em;
    text-align: left;" class="col-span-2 p-32 text-5xl"><strong>Send us a message!</strong></p>
</div>
</div>

<div>
    <img style = "width:100%;" src="https://th.bing.com/th/id/OIP.T8iuDC_t96POwZ4_nEwqOQHaEs?w=304&h=193&c=7&r=0&o=5&dpr=1.1&pid=1.7" alt="">
<div>


<div style ="background: #251E15;" class=" grid grid-cols-3 min-h-[300px] grid-rows-1 ">
<div class ="col-span-3 row-span-2"></div>
</div>
</section>
{% endblock content %}