{% extends "base.html" %}

{% block content %}


<div class="bg-gray-300 grid grid-cols-3  grid-rows-3">
    <div class ="col-span-3  flex justify-center">
        <p class="p-32">image</p>
    </div>
</div>

<div class="bg-gray-800 grid grid-cols-3 grid-rows-2 gap-x-2 gap-y-4">
<div class ="col-span-3">
    <p class="col-span-2 p-32 text-5xl"><strong>Send us a message!</strong></p>
</div>
</div>

<div class="bg-gray-300 grid grid-cols-3  grid-rows-2">
<div class ="col-span-3  flex justify-center">
    <p class="p-32">image</p>
</div>
</div>

<div class="bg-gray-800 grid grid-cols-3 min-h-[300px] grid-rows-1 ">
<div class ="col-span-3 row-span-2">
</div>
</div>
{% endblock content %}