{% extends "base.html" %}

{% block content %}
<section>
  <div class="bg-slate-200 h-96">
    <img src="{{config.base_url}}images/home_top.jpeg" class="object-cover w-full h-96" alt="">


  </div>



  <div class ="bg-[#251E15] h-[700px] relative">
    <div class=" absolute -top-[100px] p-16  w-1/2 bg-[#E0CAA0] h-[600px]">
        <div class=" font-bold pb-10 text-7xl font-family:DM Serif Text flex justify-center  ">
          <h1>Welcome! </h1>
        </div>
        <div class=" text-4xl  font-family:DM Serif Text">
            
The South Hadley Chorale’s mission is to promote choral music in the Pioneer Valley by providing singers of all ages with the opportunity to sing and perform choral repertoire that emphasizes the Baroque, Classical, and Romantic periods while also considering more recent works.




        </div>
    </div>
    


</div>



       



  </div>
  </div>
</section>
{% endblock content %}